UseDNS no
Protocol 2
SyslogFacility AUTHPRIV
AuthorizedKeysFile %h/.ssh/authorized_keys
PasswordAuthentication no
ChallengeResponseAuthentication no
X11Forwarding yes
Subsysten sfto /usr/lib/openssh/sftp-server